{% extends'base.html.twig' %}


    {% block body %}

        <p>Welcome to your friendly information spreading contact list.
            If you would like to sign up for a daily update on the news please click the link below.</p>

        <div class="signup_btn">
            <button onclick="window.location.href = '/contact'">Sign Up!</button>
        </div>



    {% endblock %}
